# Ejercicios Spark SQL

### Ejercicio 1.1 Red social de amigos

`/data/amigosRedSocial.csv`

| id                     | nombre    | edad             | numero de amigos |
|------------------------|-----------|------------------|------------------|
| ...                    | ...       | ...              | ...              |

- Obtener los datos de personas entre 12 y 20 años utilizando una consulta SQL.

- Obtener los datos de personas entre 12 y 20 años utilizando operaciones con DataFrames.

- Imprimir el esquema del DF obtenido en el punto anterior.

- Obtener el número de personas por edad.

- Mostrar los nombres de las personas y su edad dentro de 15 años.

### Ejercicio 1.2 Temperatura
`/data/1800.csv`

| estación meteorologíca | fecha día | tipo de medicion | valor | [...] |
|------------------------|-----------|------------------|-------|-------|
| ...                    | ...       | ...              | ...   | ...   |

- Obtener la localización (estación) con la mínima temperatura registrada.

- Obtener las máximas temperaturas para cada estación.

- Obtener el día para el que se ha registrado un mayor número de precipitaciones, junto con la localización y el volumen.

### Ejercicio 1.3 Ventas
`/data/ventas.csv/`

| id cliente             | id producto | gasto en euros   | [...] |
|------------------------|-------------|------------------|-------|
| ...                    | ...         | ...              | ...   |

- Obtener el gasto total agrupado por cliente.

- Ordenar el dataframe anterior en orden descendente en funcion del gasto total calculado.

- Obtener el gasto medio por cliente (en lugar de gasto total obtenido anteriormente).

- Obtener el gasto máximo por cliente.

- Repetir los apartados anteriores filtrando para obtener los datos solo del producto 973.