# Ejercicios Pandas

A lo largo de las diapositivas se iran referenciando enunciados presentes en este documento para ir abordandolos a medida que se introduzcan los conceptos.

## 1.- Ejercicios por Bloque

### 1.1 - Exploracion de datos

Los datos que se utilizaran estan disponibles en:
`https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv`
Se corresponden con **pedidos de productos** de comida en un restaurante.
_Separador `\t`_

- Ver las 7 primeras filas del dataframe.

- Obtener el numero de entradas del dataframe de todas las formas conocidas.

- Numero de columnas del dataframe.

- Obtener el nombre de todas las columnas.

- Obtener la indexación del dataset.

- ¿Cual es el objeto mas solicitado y en qué cantidad?

- ¿Cuántos productos se han solicitado en **total**?

- Convertir el precio de producto en un decimal `(float)`

- Obtener los ingresos obtenidos para todo el dataset.

- Obtener el numero de pedidos para todo el dataset.

- Obtener los ingresos medios por pedido.

- Obtener el numero de productos diferentes vendidos

## 1.2 - Filtrado y Ordenacion de datos.
Los datos que se utilizaran estan disponibles en:
`'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/datatle.tsv'`
Se corresponden con **pedidos de productos** de comida en un restaurante.
_Separador `\t`_

- Aplicar las siguientes operaciones de limpieza.
    - Limpiar la columna `item_price` y convertirla a `float`.
    - Reasignar la columna con los precios limpios.
    - Eliminar duplicados en `item_name` y `quantity`.
    - Seleccionar solo los productos con `quantity` 1.

- Obtener el precio de cada producto

- Obtener la lista de productos ordenados por nombre.

- Obtener la cantidad del producto mas caro que se ha pedido.

- Obtener cuantas veces se ha pedido el producto `Veggie Salad Bowl`

- Obtener cuantas veces se han pedido mas de un `Canned Soda`

## 1.3 - Agrupaciones

Los datos están disponibles en:
`https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv`
Se corresponden con datos de **consumo de bebidas alcohólicas por países**.
_Separador `\t`_

- Obtener el continente que bebe mas cerveza de media.

- Obtener para cada continente las estadisticas de consumo de vino.

- Obtener la media de cada columna por continente.

- Obtener la mediana de cada columna por continente.

- Obtener la media y valores minimo y máximo para el dato de `spirit_servings`.

## 1.4 - Aplicaciones de la libreria
Los datos están disponibles en:
`https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv`
Se corresponden con datos de **crimenes en Estados Unidos**.
_Separador `\t`_

- Obtener el tipo de las columnas.

- Convertir el tipo de la columna `Year` a `datetime64`.

- Establecer la columna `Year` como indice del dataframe y comprobar el resultado.

- Eliminar la columna `Total`

- Agrupar el año por decadas y sumar los valores de todas las columnas

- Obtener la decada mas peligrosa para vivir en Estados Unidos

## 1.5 - Mezcla de Dataframes
En este caso la informacion se cargará directamente con el código sin partir de ningun fichero o direccion.
Se trata de un pequeño conjunto de datos con **nombres ficticios**.

- Asignar cada conjunto de datos a una variable `data1`, `data2` y `data3`

- Unir los dos primeros dataframes a nivel de fila y asignarlo a una variable que se llame `all_data_row`

- Unir los dataframes a nivel de columnas y asignarlo a una variable llamada `all_data_col`

- Unir los dataframes `all_data` y `data3` mediante `subject_id`

- Unir los valores de `data1` y `data2` manteniendo las filas coincidentes si ocurre.

## 1.6 - Estadisticas de los datos
Los datos están disponibles en:
`https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv`
Se corresponden con datos de **nombres de bebé en Estados Unidos**.
_Separador `\t`_

- Obtener la informacion de los datos y los diez primeros registros.

- Eliminar la columna llamada `Unnamed: 0` e `Id`

- Obtener si hay mas nombres masculinos o femeninos

- Agrupar el dataset por nombre y asignar a una variable llamada `names`

- Obtener el numero de nombres distintos en el dataset.

- Obtener el nombre mas repetido

- Obtener el numero de nombres que tienen las minimas ocurrencias.

- Obtener los nombres con la ocurrencia media.

- Obtener la desviacion estándar de nombres

- Obtener el resumen de los valores de nombres.

## 1.7 - Eliminacion
Los datos están disponibles en:
`https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data`
Contienen informacion de clasificación de distintos **tipos de flores.**

- Asignar a una variable llamada data y mostrar los datos cargados.

- Crear las columnas para el dataset.

- Detectar si hay algun valor nulo en el dataframe

- Establecer ls valores de las filas 10 a 29 de `petal_length` a `NaN`

- Sustituir los valores `NaN` con 1

- Eliminar la columna `class`

- Establecer las tres primeras filas a `NaN`

- Eliminar las filas que tienen `NaN`

- Reestablecer el índice para que comience de nuevo en cero.

## El Puzzle de Pandas

# El Puzzle de Pandas

El objetivo de este ejercicio es plantear una serie de piezas de código para ir abordando de forma independiente a modo de puzzle, para aplicar todos los contenidos vistos previamente.

La dificultad de los enunciados va creciendo a lo largo de los ejercicios.

## ★☆☆☆  Preparacion del entorno y comprobacion de la instalación de Pandas

**1.** Importar **Pandas** bajo el alias `pd`.

**2.** Imprimir la version de **Pandas** que está instalada.

**3.** Imprimir la informacion de versión de todas las librerias necesarias para **Pandas**

## ★☆☆☆ Conceptos básicos sobre DataFrame -  Selección, ordenación, añadido, agregacion

Importar numpy usando...
```python
import numpy as np
```

Considerando en Python el diccionario `data` y la lista `labels`:

*Se trata de información sin significado real creada simplemente para tener un conjunto base sobre el que trabajar.*

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**4.** Crear un DataFrame `df` para el diccionario `data` que utilice como índice `labels`.

**5.** Mostrar un resumen de la información básica del DataFrame y sus datos.

_Hay un método único para hacer esto que puede ser llamado desde el DataFrame_

**6.** Obtener las 3 primeras filas del DataFrame `df`.

**7.** Seleccionar lqas columnas `animal` y `age` del DataFrame `df`

**8.** Obtener los datos de las filas `[3, 4, 8]` *y* las columnas `['animal', 'age']`.

**9.** Seleccionar solamente las filas donde el numero de visitas es mayor que 3.

**10.** Seleccionar las filas donde la edad `age` no está recogida. P.Ej. es NaN, el valor nulo de Pandas.

**11.** Seleccionar las filas donde el `animal` es Gato y `age` es menor que 3.

**12.** Seleccionar las filas donde la edad está entre 2 y 4 (inclusive).

**13.** Cambiar la edad en la fila 'f' a 1.5.

**14.** Calcular la suma de todas las visitas en `df` (El número total de visitas)

**15.** Calcular la edad media por cada animal diferente en `df`

**16.** Añadir la fila `k` al DataFrame `df` con una seleccion propia de valores en cada columna. Luego imprimir el DataFrame para ver los cambios y despues eliminar la columna para volver al conjunto original.

**17.** Contar el numero de cada tipo de animal en `df`

**18.**  Ordenar `df` primero por los valores de `age` en orden *descendente* y luego por el valor de `visit` en orden *ascendente* <br>
_Para comprobar que es correcto, la fila `i` deberia ser la primera y la `d` la última_

**19.** La columna `priority` contiene valores `yes` y `no`. <br> Reemplazarlos por una columna con valores booleanos `True` y `False`.

**20.** En la columna `animal` cambiar las entradas `snake` a `python`

**21.** Por cada tipo de animal y numero de visitas, encontrar la edad media.<br>
Es decir, cada fila es un animal, cada columna, un numero devisitas y los valores son la edad media.<br>
_**Pista** Usar una tabla pivotante_

##  ★★☆☆ Mas allá de los conceptos básicos
_En estos ejercicios es posible que sea necesario combinar dos o mas funciones para obtener la solucion_

En la seccion anterior se han revisado las operaciones esenciales de DataFrames. <br>
Debajo hay algunos ejercicios sobre formas típicas en las que seleccionar los datos, aunque como es habitual, puede haber varias formas de solucionarlo.

**22.** Partiendo de un DataFrame `df` con una columna 'A' de enteros. <br> 
_Por ejemplo:_
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

¿Como se aplicaría un filtro para obtener las filas que tienen el mismo entero que la fila inmediatamente anterior?

El resultado debería ser una fila con el contenido...

```python
1, 2, 3, 4, 5, 6, 7
```

**23.** Partiendo de un DataFrame de valores numericos aleatorios...
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # this is a 5x3 DataFrame of float values
```

Restar a cada elemento la media del conjunto.

**24.** Partiendo de un DataFrame de 10 columnas de numeros reales...

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Obtener la columna de numeros con la suma minima y obtener su etiqueta.

**25.** Obtener el numero de filas únicas en el DataFrame, es decir, ignorar las filas duplicadas.

## ★★★☆ Un poco mas allá...

**26.** Partiendo de un DataFrame `df` que consiste en 10 columnas de numeros decimales (float) con exactamente 5 registros de cada fila con valor NaN (nulo de NumPy).<br>
Obtener por cada fila, la columna que contiene el tercer `NaN`.<br>
_El resultado debe ser una Serie con las etiquetas `e, c, d, h, d`_

```py
nan = np.nan

data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]
        ]
```

**27.** Partiendo del DataFrame con laculmna de grupos `grps` y la de enteros `vals`: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
Por cada **grupo** `group`, obtener la suma de los tres valores mayores.<br>
El resultado debe ser:
```
grps
a    409
b    156
c    345
```

**28.** Partiendo del dataframe `df` con dos columnas de enteros `A` y `B` donde los valores de `A` están comprendidos entre 1 y 100 (incluídos). 

```py
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns = ["A", "B"])
```

Por cada grupo de 10 enteros consecutivos en 'A', (p. ej, `(0, 10]`, `(10, 20]`, ...) calcular la suma de valores correspondientes en la columna 'B'.

El resultado debe ser una `Serie` similar a...
```
A
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
```

## ★★★★ DataFrames: Problemas dificiles

Estos ejercicios pueden requerir pensamiento 'out of the box' pero son factibles dentro de las capacidades de *Pandas/NumPy*

**29.**  Partiendo de un DataFrame `df` con una columna entera `X`

```python
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
```

Contar por cada valor la diferencia  hasta el cero anterior (o el inicio de la lista, segun el caso)

El resultado debe ser...

```
[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]
```

Crear el resultado sore una nueva columna `Y`

Resultado alternativo...

Otra alternativa usando Group by...

**30.** Partiendo del DataFrame construido abajo que contiene filas y columnas de datos numericos...

```py
df = pd.DataFrame(np.random.RandomState(30).randint(1, 101, size=(8, 8)))
```

Crear una ista del indice columna-fila (c-f) con las localizaciones de los tres valores mas grandes del DataFrame

Create a list of the column-row index locations of the 3 largest values in this DataFrame. 

El resultado debe ser similar a...
```
[(5, 7), (6, 4), (2, 5)]
```

**31.** Con el DataFrame de abajo con una columna de IDs de grupos `grps` y una columna con un valor entero correspondiente `vals`


```python
df = pd.DataFrame({"vals": np.random.RandomState(31).randint(-30, 30, size=15), 
                   "grps": np.random.RandomState(31).choice(["A", "B"], 15)})
```

Crear una nueva columna `patched_values` que contenga los mismos valores que `vals` pero en los negativos, el valor a representar sea la media del grupo `grps`


```
    vals grps  patched_vals
0    -12    A          13.6
1     -7    B          28.0
2    -14    A          13.6
3      4    A           4.0
4     -7    A          13.6
5     28    B          28.0
6     -2    A          13.6
7     -1    A          13.6
8      8    A           8.0
9     -2    B          28.0
10    28    A          28.0
11    12    A          12.0
12    16    A          16.0
13   -24    A          13.6
14   -12    A          13.6
```

**32.** Implementar una media movil sobre grupos con un tamaño de ventana de 3 que ignore los valores `NaN`.
Considerar por ejemplo el siguiente DataFrame:

```python
>>> df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})
>>> df
   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0
```
El objetivo es conseguir...
```
0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
```

Sobre el ejemplo, la primera ventana de tamaño 3 para el grupo `b` tiene los valores 3.0, NaN y 1.0 y sucede en el indice de fila 5.
En lugar de ser NaN el valor en la nueva columna debe ser 2 que es la media de los dos valores rellenos (3.0 y 1.0 en las linas 5 y 7)

## ★★☆☆ Series y DatetimeIndex

**33.** Crear un DatetimeIndex que contenga cada dia de 2015 y usarlo como indice de una serie de numeros aleatorios de una Serie llamada `s`.

**34.** Obtener la suma de los valores en `s` de cada Miercoles.

**35.** Por cada mes del calendario en `s` obtener la media de valores.

**36.** Por cada grupo de cuatro meses consecutivos en `s` obtener la fecha donde se ha producido el valor mas alto.

**37.** Crear un DatetimeIndex con la fecha del Tercer Jueves de cada mes de de los años 2015 y 2016.

## ★★☆☆ Limpieza de datos para facilitar el trabajo con DataFrames

Es muy habitual encontrarse situaciones dond los datos están mal formateados, falta informacion, está desordenada, etc.. haciendo que el análisis sea más dificil.

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
```

Formateado correctamente se debería ver...
```
            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"
```

_Se trata de datos de vuelos generados para el ejemplo, no tienen por que tener sentido_

**38.** Algunos valores en la columna **FlightNumber** no están rellenos `NaN`.<br>
Estos numeros están planteados para ser incrementados de 10 en 10 asi que debe ser corregido modificando `df`para rellenar los huecos y además, modificar la columna para que sea un entero en lugar de un decimal.

**39.** La columna **From\_To** debería ser sparada en dos columnas.<br>
Hay que dividir cada cadena en funcion del delimitador `_` y asignarlo a un nuevo DataFrame lamado `temp` con los valores correctos.<br>
También hay que asignar el nombre correcto a las columnas `From` y `To`

**40.** Corregir la notacion mezclada de mayúsculas de las nuevas columnas `From` y `To`<br>
_`LoNDon` debería ser `London`_

**41.** Eliminar la columna From_To de `df` y agregar las dos columnas equivalentes del DataFrame `temp`

**42**. En la columna **Airline** hay simbolos de puntuacion mal colocados que deben ser corregidos.<br>
_`'(British Airways. )'` debería ser `'British Airways'`_

**43**. En la columna `RecentDelays` los valores están introducidos como una lista.<br>
Redistribuir la lista en columnas de forma que cada elemento aparezca en una columna nueva y si no hay elemento n-simo el valor sea `NaN`.

Expandir el resultado en un DataFrame llamado `delays` y renombrar las columnas a `delay_1`, `delay_2`, etc.

El DataFrame debería convertirse en...

```
   FlightNumber          Airline      From         To  delay_1  delay_2  delay_3
0         10045              KLM    London      Paris     23.0     47.0      NaN
1         10055       Air France    Madrid      Milan      NaN      NaN      NaN
2         10065  British Airways    London  Stockholm     24.0     43.0     87.0
3         10075       Air France  Budapest      Paris     13.0      NaN      NaN
4         10085        Swiss Air  Brussels     London     67.0     32.0      NaN
```